@import "tailwindcss";

body {
  overflow: hidden;
  scrollbar-width: none;
  background-color: #f2f0ec;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "outfit";
  src: url("/fonts/outfit.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "mons";
  src: url("/fonts/Mons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "space";
  src: url("/fonts/space.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
