@import "tailwindcss";

body {
  overflow: hidden;
  scrollbar-width: none;
  background-color: #f2f0ec;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "impact";
  src: url("/fonts/Impact.ttf") format("truetype");
}
@font-face {
  font-family: "bebas";
  src: url("/fonts/Bebas.ttf") format("truetype");
}
@font-face {
  font-family: "outfit";
  src: url("/fonts/outfit.ttf") format("truetype");
}
@font-face {
  font-family: "mons";
  src: url("/fonts/Mons.ttf") format("truetype");
}
@font-face {
  font-family: "space";
  src: url("/fonts/space.ttf") format("truetype");
}
